:root{
    --fancy-font:"Century Gothic";
    --footer-height:60px;
}
html {
    position: relative;
    min-height: 100%;
}
body{
    background:#e8e8e8 !important;
    margin-bottom:80px !important;
}
.nav_menu{
    background:#21252B;
    box-shadow: 0px 5px 41px -10px rgba(0,0,0,0.75);
    color:white;
    font-family:var(--fancy-font);
}
.nav_menu a{
    color:white;
}
.nav_menu a:hover{
    color:#ccc;
}
.big_text{
    font-size:100px;
}
.img_block{
    color:#2B3038;
}
.img_block img{
    padding:15px;
    width:700px;
}
.login_form_div,.tab_item{
    padding:30px;
    background:#E3E3E3;
    border:1px solid #C4C4C4;
}
.login_form_div button{
    background:#35b03c;
    color:white;
}
.form_div h3{
    text-align:center;
}
.m-top{
    margin-top:10px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: var(--footer-height); /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}

.fa-exclamation-circle,.fa-times-circle{
    color:#cc0b00;
}
.fa-exclamation-triangle{
    color:#ff9922;
}
.fa-check-circle{
    color:#46a851;
}
.fa-circle{
    color:#f6a607;
}
.fas{
    padding:5px;
    font-size:25px;
}
#navbar .dropdown-menu a{
    color:black;
}
.fa-crown{
    color:gold;
    font-size:18px;
}
.low_opacity{
    opacity:0.6;
}
.dashboard{
    font-family:"Century Gothic";
}
.dash-head hr{
    margin-top:10px;
    margin-bottom: 5px;
}
.dashboard hr{
    color:#1f2227;
    font-size:3px;
    box-shadow: -1px 1px 1px 0px rgba(0,0,0,0.75);
}
.dash-shorts{
    margin-top:45px;
}
.dash-shorts .short-block{
    text-align:center;
    padding:5px;
}
.dash-shorts .short-block:hover{
    background: #ccc;
    -webkit-transition:0.1s;
    transition:0.1s;
}
.dash-shorts .fas{
    font-size:35px;
}
.dash-shorts .circle{
    border-radius: 100%;
    width:20px;
    height:20px;
    text-align:center;
    line-height: 20px;
    color:#1f2227;
    font-size:14px;
    background:#ffd030;
    position: relative;
    margin-top:-22px;
    margin-left:52%;
}
[v-cloak]{
    display:none;
}
.tabs_div .nav-pills .nav-link:not(.active){
    background: #cdcdcd;
}
.tabs_div .nav-pills .nav-link.active{
    background:#272C33;
    transition: 0.2s;
}
.tab_item{
    background:#dadada !important;
}
.settings .tab_name{
    text-align: center;
}
input:not([type=checkbox]){
    background: #fff;
    color: #1b1e21;
    font: inherit;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .1);
    border: 0;
    outline: 0;
    padding: 22px 18px;
    border-radius:0px;
    transition: 0.3s;
 }
.btn-gray{
    background: #272C33;
    color:white;
}
.form-group label.label{
    background:#333;
    text-align: center;
    padding:5px 15px;
    margin-bottom: 0;
    color:white;
}
.form-group label.label.bad{
    background: #f64954;
    color:black;
    font-weight: bold;
}
.form-group label.label.correct{
    background:#46a851;
    color:black;
    font-weight: bold;
}
.form-group label.label.meh{
    background:#f6a607;
    color:black;
    font-weight: bold;
}