:root{
    --fancy-font:"Century Gothic";
    --footer-height:60px;
}
html {
    position: relative;
    min-height: 100%;
}
body{
    background:#e8e8e8 !important;
    margin-bottom:80px !important;
}
.nav_menu{
    background:#21252B;
    box-shadow: 0px 5px 41px -10px rgba(0,0,0,0.75);
    color:white;
    font-family:var(--fancy-font);
}
.nav_menu a{
    color:white;
}
.nav_menu a:hover{
    color:#ccc;
}

.big_text{
    font-size:100px;
}
.img_block{
    color:#2B3038;
}
.img_block img{
    padding:15px;
    width:700px;
}

.login_form_div,.tab_item{
    padding:30px;
    background:#E3E3E3;
    border:1px solid #C4C4C4;
}
.login_form_div button{
    background:#35b03c;
    color:white;
}
.form_div h3{
    text-align:center;
}

.m-top{
    margin-top:10px;
}
.m-top-2{
    margin-top:20px;
}
.plusbtn{
    color:#65f674;
    font-size:16px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: var(--footer-height); /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}

.fa-exclamation-circle,.fa-times-circle{
    color:#cc0b00;
}
.fa-exclamation-triangle{
    color:#ff9922;
}
.fa-check-circle{
    color:#46a851;
}
.fa-circle{
    color:#f6a607;
}
.fas{
    padding:5px;
    font-size:25px;
}

#navbar .dropdown-menu a{
    color:black;
}

.fa-crown{
    color:gold;
    font-size:18px;
}

.low_opacity{
    opacity:0.6;
}

.dashboard{
    font-family:"Century Gothic";
}
.dash-head hr{
    margin-top:10px;
    margin-bottom: 5px;
}
.dashboard hr{
    color:#1f2227;
    font-size:3px;
    box-shadow: -1px 1px 1px 0px rgba(0,0,0,0.75);
}

.no-a a{
    text-decoration: none;
    color:inherit;
}
.no-a a:hover{
    text-decoration: none;
    color:inherit;
}

.dash-shorts{
    margin-top:45px;
}
.dash-shorts .short-block{
    text-align:center;
    padding:5px;
}
.dash-shorts .short-block:hover{
    background: #ccc;
    -webkit-transition:0.1s;
    transition:0.1s;
}
.dash-shorts .fas{
    font-size:35px;
}
.dash-shorts .circle{
    border-radius: 100%;
    width:20px;
    height:20px;
    text-align:center;
    line-height: 20px;
    color:#1f2227;
    font-size:14px;
    background:#ffd030;
    position: relative;
    margin-top:-22px;
    margin-left:52%;
}
[v-cloak]{
    display:none;
}

.tabs_div .nav-pills .nav-link:not(.active){
    background: #cdcdcd;
}
.tabs_div .nav-pills .nav-link.active{
    background:#272C33;
    transition: 0.2s;
}
.tab_item{
    background:#dadada !important;
}
.settings .tab_name{
    text-align: center;
}

input:not([type=checkbox]){
    background: #fff;
    color: #1b1e21;
    font: inherit;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .1);
    border: 0;
    outline: 0;
    padding: 22px 18px;
    border-radius:0px;
    transition: 0.3s;
 }
.btn-gray{
    background: #272C33;
    color:white;
}
.form-group label.label{
    background:#333;
    text-align: center;
    padding:5px 15px;
    margin-bottom: 0;
    color:white;
}
.form-group label.label.bad{
    background: #f64954;
    color:black;
    font-weight: bold;
}
.form-group label.label.correct{
    background:#46a851;
    color:black;
    font-weight: bold;
}
.form-group label.label.meh{
    background:#f6a607;
    color:black;
    font-weight: bold;
}

.messenger.col-md-12{
    padding-left:0px;
    padding-right:0px;
    padding:0px;
    font-family:"Century Gothic";
}
.messenger .col-lg-3, .messenger .col-md-5{
    padding-left:0;
    padding-right: 0;
}
.messenger .shortcut .attr{
    display:block;
    padding-left:5px;
    font-size:16px;
}
.messenger .shortcut .info{
    padding:10px;
}
.messenger .shortcut{
    padding:10px;
}
.messenger .shortcut.new{
    background: #f6a607;
}
.messenger .shortcut.active{
    background: #CACBCC;
}
.messenger .shortcut:hover:not(.active){
    background:#DADBDD;
}
.email_small{
    color:#898C8E;
    font-size:18px;
}
.messenger .shortcut .title{
    font-weight: bold;
}
.messenger .circle{
    background: #C0C0C0;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    display:flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    border:2px solid #898C8E;
}
.messenger .shortcut_part{
    height:85%;
    overflow: auto;
    border-right:1px solid #929292;
}

.messenger .msg_show{
}
.messenger .msg_show .header .box{
    background:#21252B;
    padding:15px;
    padding-bottom: 10px;
    font-size:18px;
    color:#898C8E;
}
.messenger .msg_show .header .name{
    font-size:28px;
}
.messenger .msg_show .header .box .circle_down{
    border:10px solid #21252B;
    width:100px;
    position: absolute;
    margin-left:-15px;
    color:black;
    margin-top:2px;
    height: 100px;
}
.messenger .msg_show .header .title{
    padding:15px;
    padding-top:5px;
}
.messenger .msg_show .msg_panel{
    background: #DADBDD;
    min-height: 50%;
    padding:10px;
}
.messenger .btn_grp{
    padding-left:0;
    padding-right: 0;
    padding:5px;
    display:flex;
    align-items: flex-end;
}
.messenger .btn_grp button{
    margin-left:2px;
}
.messenger hr{
    background: #CACBCC;
}
.messenger{

}

.results{
    background: #c6c8ca;
    padding:5px;
    position: fixed;
    margin-top:-1px;
    border:1px solid #ccc;
    z-index:5;
}
.results .selected{
    font-weight: bold !important;
}
.results .sm{
    font-size:12px;
}
.selusers .circle{
    width:40px;
    height: 40px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius:50%;
    background: #2a9055;
    margin-right:5px;
}
.send_to{
    padding:5px 0 5px 0;
}

.course_short .header,.course_shortcut{
    padding:10px;
    background: #272C33;
    color:white;
}
.course_short .body{
    padding:1.5%;
    background: #d3d3d3;
}
.course_shortcut{
    background: #864686;
    justify-content: space-between;
    padding: 15px;
    display: flex;
    width:94%;
    margin:1.5% 0 1.5% 0;
    align-items: center;
}
.wrap a{
    color:inherit;
}
.wrap a:hover{
    color:inherit;
}
.course_shortcut h5,.course_short h4{
    margin: 0;
}
{

}
.body .wrap{
    display:flex;
    justify-content: center;
}


.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.content{
    background-color: blue;
    color: white;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .8s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}
.no_p,.messenger_megadiv .col-9,.messenger_megadiv .col-3,.body .col-md-12, .body .col-md-4{
    padding-left:0;
    padding-right: 0;
}
.short-block .fas{
    display:block;
}


@media only screen and (max-width:400px){


}
@media only screen and (max-width: 600px){
    .messenger .msg_show .header .box{
        display:flex;
        align-items: center;
        height: 109px;
    }
    .messenger .msg_show .msg_panel{
        background: #DADBDD;
        min-height: 200px;
    }
    .label{
        width:100% !important;
    }
}
div{
    transition: opacity .5s;
}

