/* -------- Imports -------- */
@import url('https://fonts.googleapis.com/css?family=Roboto');
/* ------ End Imports ------ */

:root{
    --fancy-font:"Century Gothic";
    --footer-height:60px;
}
html {
    position: relative;
    min-height: 100%;
}
body{
    background:#e8e8e8 !important;
    margin-bottom:80px !important;
}
.nav_menu{
    background:#21252B;
    box-shadow: 0px 5px 41px -10px rgba(0,0,0,0.75);
    color:white;
    font-family:var(--fancy-font);
}
.nav_menu a{
    color:white;
}
.nav_menu a:hover{
    color:#ccc;
}

.modules a{
    color:#666 !important;
}
.mv-toolbar{
    background:#666;
    color:#efefef;
    font-family:Roboto;
}
.mv-toolbar a{
    color:inherit !important;
}

.img_box{
    padding-left:0px !important;
    padding-right:0px !important;
    border:3px solid #ccc;
}
.img_box .desc{
    font-family:Roboto;
    text-align: center;
    padding:5px;
    background:#242424;
    color:white;
}
.big_text{
    font-size:100px;
}
.img_block{
    color:#2B3038;
}
.img_block img{
    padding:15px;
    width:700px;
}

.login_form_div,.tab_item{
    padding:30px;
    background:#E3E3E3;
    border:1px solid #C4C4C4;
}
.quiz input{
    box-shadow:none !important;
}
.disabledbutton {
    pointer-events: none;
    opacity: 0.4;
}
.form_div h3{
    text-align:center;
}

.m-top{
    margin-top:10px;
}
.m-top-2{
    margin-top:20px;
}
.plusbtn{
    color:#65f674;
    font-size:16px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: var(--footer-height); /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}

.fa-exclamation-circle,.fa-times-circle{
    color:#cc0b00;
}
.fa-exclamation-triangle{
    color:#ff9922;
}
.fa-check-circle{
    color:#46a851;
}
.fa-circle{
    color:#f6a607;
}
.fas{
    padding:5px;
    font-size:25px;
}

#navbar .dropdown-menu a{
    color:black;
}

.fa-crown{
    color:gold;
    font-size:18px;
}

.low_opacity{
    opacity:0.6;
}

.dashboard{
    font-family:"Century Gothic";
}
.dash-head hr{
    margin-top:10px;
    margin-bottom: 5px;
}
.dashboard hr{
    color:#1f2227;
    font-size:3px;
    box-shadow: -1px 1px 1px 0px rgba(0,0,0,0.75);
}

a.no-a,.no-a a{
    text-decoration: none;
    color:inherit;
}
a.no-a:hover,.no-a a:hover{
    text-decoration: none;
    color:inherit;
}

.dash-shorts{
    margin-top:45px;
}
.dash-shorts .short-block{
    text-align:center;
    padding:5px;
}
.dash-shorts .short-block:hover{
    background: #ccc;
    -webkit-transition:0.1s;
    transition:0.1s;
}
.dash-shorts .fas{
    font-size:35px;
}
.dash-shorts .circle{
    border-radius: 100%;
    width:20px;
    height:20px;
    text-align:center;
    line-height: 20px;
    color:#1f2227;
    font-size:14px;
    background:#ffd030;
    position: relative;
    margin-top:-22px;
    margin-left:52%;
}
[v-cloak]{
    display:none;
}

.tabs_div .nav-pills .nav-link:not(.active){
    background: #cdcdcd;
}
.tabs_div .nav-pills .nav-link.active{
    background:#272C33;
    transition: 0.2s;
}
.tab_item{
    background:#dadada !important;
}
.settings .tab_name{
    text-align: center;
}

input:not([type=checkbox]),textarea{
    background: #fff;
    color: #1b1e21;
    font: inherit;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .1);
    border: 0;
    padding: 22px 18px;
    border-radius:0px !important;
    transition: 0.3s;
}
.btn-gray{
    background: #272C33 !important;
    color:white !important;
}
.form-group label.label{
    background:#333;
    text-align: center;
    padding:5px 15px;
    margin-bottom: 0;
    color:white;
}
.form-group label.label.bad{
    background: #f64954;
    color:black;
    font-weight: bold;
}
.form-group label.label.correct{
    background:#46a851;
    color:black;
    font-weight: bold;
}
.form-group label.label.meh{
    background:#f6a607;
    color:black;
    font-weight: bold;
}

.messenger.col-md-12{
    padding-left:0px;
    padding-right:0px;
    padding:0px;
    font-family:"Century Gothic";
}
.messenger .col-lg-3, .messenger .col-md-5{
    padding-left:0;
    padding-right: 0;
}
.messenger .shortcut .attr{
    display:block;
    padding-left:5px;
    font-size:16px;
}
.messenger .shortcut .info{
    padding:10px;
}
.messenger .shortcut{
    padding:10px;
}
.messenger .shortcut.new{
    background:rgba(246,166,7,0.8);

}
.messenger .shortcut.active{
    background: #CACBCC;
}
.messenger .shortcut.new:hover:not(.active){
    background:#f6a607;
}
.messenger .shortcut:hover:not(.active){
    background:#DADBDD;
}
.email_small{
    color:#898C8E;
    font-size:18px;
}
.messenger .shortcut .title{
    font-weight: bold;
}
.messenger .circle,.editc .circle{
    background: #C0C0C0;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    display:flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    border:2px solid #898C8E;
}
.messenger .shortcut_part{
    height:85%;
    overflow: auto;
    border-right:1px solid #929292;
}

.messenger .msg_show{
}
.messenger .msg_show .header .box{
    background:#21252B;
    padding:15px;
    padding-bottom: 10px;
    font-size:18px;
    color:#898C8E;
}
.messenger .msg_show .header .name{
    font-size:28px;
}
.messenger .msg_show .header .box .circle_down{
    border:10px solid #21252B;
    width:100px;
    position: absolute;
    margin-left:-15px;
    color:black;
    margin-top:2px;
    height: 100px;
}
.messenger .msg_show .header .title{
    padding:15px;
    padding-top:5px;
}
.messenger .msg_show .msg_panel{
    background: #DADBDD;
    min-height: 50%;
    padding:10px;
}
.messenger .btn_grp{
    padding-left:0;
    padding-right: 0;
    padding:5px;
    display:flex;
    align-items: flex-end;
}
.messenger .btn_grp button{
    margin-left:2px;
}
.messenger hr{
    background: #CACBCC;
}
.messenger{

}

.results{
    background: #fcfcfc;
    position: fixed;
    margin-top:-1px;
    border:1px solid #ccc;
    z-index:5;
}
.results .box.selected{
    background: #f6993f;
    font-weight: bold !important;
}
.results .box{
    padding:10px;
}
.results:hover{
    background: #cfcfcf;
}
.results .sm{
    font-size:12px;
}
.selusers .circle{
    width:40px;
    height: 40px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius:50%;
    background: #2a9055;
    margin-right:5px;
}
.send_to{
    padding:5px 0 5px 0;
}

.course_short .header,.course_shortcut{
    padding:10px;
    background: #272C33;
    color:white;
    box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.25);
}
.course_short .body{
    padding:1.5%;
    background: #d3d3d3;
}
.course_short{
}
.course_shortcut{
    background: #864686;
    justify-content: space-between;
    padding: 15px;
    display: flex;
    width:94%;
    margin:1.5% 0 1.5% 0;
    align-items: center;
}
.wrap a{
    color:inherit;
}
.wrap a:hover{
    color:inherit;
}
.course_shortcut h5,.course_short h4{
    margin: 0;
}
{

}
.body .wrap{
    display:flex;
    justify-content: center;
}


.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.pointer{
    cursor:pointer;
}

.content{
    background-color: blue;
    color: white;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .8s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}
.no_p,.messenger_megadiv .col-9,.messenger_megadiv .col-3,.body .col-md-12{
    padding-left:0;
    padding-right: 0;
}
.short-block .fas{
    display:block;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .1s;
    transition: .1s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .1s;
    transition: .1s;
}
input:checked + .slider {
    background-color: #333;
}
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}

.editc .sidebar{
    background: #494949;
    position:fixed;
    height: 100vh;
    color:#CECECE;
    box-shadow: 3px 0px 13px 0px rgba(0,0,0,0.5);
}
.editc .sidebar hr{
    background-color:#CECECE;
}
.editc{
    font-family:"Century Gothic";

}
.editc .sidebar .list{
    font-size:20px;
}
.editc .sidebar .box{
    padding:5px;
}
.editc .sidebar a{
    color:inherit;
}
.
.editc .sidebar a:hover{
    color:inherit;
    text-decoration: none;
}
.editc .sidebar .box:hover{
    background:#595959;
    color:#ECECEC;
}
.editc .sidebar .name{
    font-size:25px;
    text-align: center;
    word-break: break-word;
}
.editc .workplace{
    padding:20px;
}
.editc .workplace .show_box{
    background: #D5D5D5;
    border:1px solid #8E8E8E;
}
.editc .workplace.col-md-8{
    padding-left:0;
    padding-right:0;
    padding:0;
}
.editc .lector_box{
    margin-top:10px;
    transition: 0.1s;
}
.editc .lector_box:hover{
    background: #cfcfcf;
}
btn.no-bg{
    border:none;
}
@media only screen and (max-width:767px) { /* < md */
    .editc .sidebar{
        height: initial;
        padding-bottom: 20px;
        box-shadow:none;
        position: static;
        margin-top:0;
    }
    .student_box{
        margin-top:5px;
        margin-bottom:5px;
    }
}
@media only screen and (max-width:400px){


}
@media only screen and (max-width: 600px){
    .messenger .msg_show .header .box{
        display:flex;
        align-items: center;
        height: 109px;
    }
    .messenger .msg_show .msg_panel{
        background: #DADBDD;
        min-height: 200px;
    }
    .label{
        width:100% !important;
    }
}
div{
    transition: opacity .5s;
}
.student_box{
    padding:10px !important;
    font-size:18px;
    background: #efefef;
    box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.25);
}
.student_box:hover{
    background:#ececec;
}
.student_box .fa-ellipsis-v{
    font-size:18px;
}
.st{
    margin-bottom: 10px;
    margin-top:10px;
}
.btn-link{
    padding:0 !important;
    color:inherit !important;
}
.blinking-cursor {
    font-size: 90px;
    color: white;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}

@keyframes "blink" {
    from, to {
        color: transparent;
    }
    50% {
        color: inherit;
    }
}

@-moz-keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: inherit;
    }
}

@-webkit-keyframes "blink" {
    from, to {
        color: transparent;
    }
    50% {
        color: inherit;
    }
}

@-ms-keyframes "blink" {
    from, to {
        color: transparent;
    }
    50% {
        color: inherit;
    }
}

@-o-keyframes "blink" {
    from, to {
        color: transparent;
    }
    50% {
        color: inherit;
    }
}
a.page-link{
    background:#21252B;
    color:white;
    border:none;
}
.page-item.active .page-link{
    background:#f6993f !important;
    border-color:#f6993f !important;
}
.page-item.disabled .page-link{
    background: #3e474e!important;
    color:white !important;
}
.page-link:hover{
    color:white !important;
    background-color: #3a4046 !important;
}
.page-item{
    margin:0px;
}
.list_style{
    background:#ccc;
    font-size:18px;
    border:1px solid #aaa;
}
.component{
    background: #bbb;
    padding:5px;
    word-wrap:break-word;
}
.option{
    margin:5px 0 5px 0;
    padding:15px;
    background:#c8c8c8;
}
.option .fas{
    font-size:18px;
}
.clickable{
    cursor:pointer;
}
.fa-check-circle.not_active{
    color:#333;
}
.result_perc{
    height:150px;
    background: #b91d19;
    width:50px;
    margin:10px;
}
.perc_cont{
    position: relative;
    background: #1b4b72;
    width: 50px;
}

.sidebar{
    background: #333;
    color:white;
    min-height: 100% !important;
    position: fixed !important;
    z-index:1;
    padding:5px;
    box-shadow: 2px 0px 6px -2px rgba(0,0,0,0.75);
}
.sidebar ul{
    list-style-type: none;
    padding:0;
}
.sidebar li{
    padding:12px;
}
.sidebar li:hover{
    background:#999;
}
.timebar{
    width:150px;
    height: 30px;
    background: #ccc;
    overflow: hidden;
    border-radius:3px;
}
.time{
    height: 100%;
    background-color: #678913;

}
.infobar{
    background-color: #444;
    padding:15px;
    color:white;
box-shadow: 0px 2px 6px -2px rgba(0,0,0,0.75);

}
.to_submit > *{
    padding:10px;
}
.to_submit span{

}
.q_left{
    font-size:20px;
}
.marked{
    opacity:0.2;
}
.question{
    padding:15px;
}